@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url(//fonts.googleapis.com/css?family=Vibur);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

#navbar{
    position: sticky;
    top: 0;
    left: 0%;
    z-index: 99;
    padding: .5rem 1rem;
    box-shadow: 2px 5px 20px black;

}
.navbar .navbar-brand{
    font-size: 20px;
    font-weight: 590;
    color:#42f58d ;
}
#navbarNav a:hover{
    border-bottom:2px solid #42f58d !important;
}
#navbarNav a{
    color: #FFF;
}
#navbar .btn{
    margin-left: -10px;
    background: #42f58d;
    width: 5rem;
    color: #FFF;
    border-radius: 10px;
}
section{
    width: 100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
#home{
 background: url(background.jpg);
 background-size: cover;
 background-position:center;
 opacity: 90%;
 flex-direction: column;
}
#home h1{
    font-size: 60px;
    color: white;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 0px #42f58d;
    text-shadow: 0px 2px 0px #42f58d;

}
#home p{
    font-size: 20px;
    color:#42f58d ;
    text-shadow: 0px 1px 0px #fff;

}

/* food */
    #food{
        background-color: #383B39;
        background-size: cover;
        background-position:center;

    }
#food h1{
    font-size: 80px;
    letter-spacing: 2px;
    font-weight: 500;
   text-shadow: #FFF;
   color: rgb(241, 234, 234);
   overflow: hidden;
 
    }
#food img{
    width: 200px;
    margin-top: 10px;
    height: 200px;
    border: 2px  #42f58d;
    aspect-ratio: 1/1;
    object-fit: coverS;
}
.card{
    width: 250px;
    height: 350px;
   overflow: hidden;
   align-items: center;
   justify-content: center;
    margin: 20px 50px;
    border-radius: 10px;

}
.card button {
    margin-left: 25%;
    background: #42f58d;
    border: none !important;
}
.card button:hover {
    background: #42f58d;
}
#foodbtn{
    background-color: #42f58d;
    border: none;
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  label {
    margin-bottom: 0.5rem;
  }

  input, textarea {
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid#42f58d;
    width: 100%;
    box-sizing: border-box;
  }

  button {
    background: #42f58d;
    width: 5rem;
    color: #FFF;
    border-radius: 10px;
    border: none;
  }
  #contact{
    background: url(back3.jpg);
    background-size: cover;
    background-position:center;
    opacity: 90%;
  }


#contactus{
    width: 60%;
    border-radius: 15px;
    margin: 20px 20%;
}
.login{
    border-bottom: none;
}
#sumtbtn{
    border-radius: 10px;
    font-size: 20px;

  }
  #iconcrt{
 padding-right: 1%;
 color: #FFF;
}
#cart{
    background-color: #383B39;
    background-size: cover;
    background-position:center;

}
.cart {
    color: #FFF;
}

.logo b{
    font:  10vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #8cff44, 0 0 0.5em #abff44, 0 0 0.1em #5dff44, 0 10px 3px #000;
  }
.logo1 b{
    display: flex;
    margin-bottom: -10px;

}
  .logo1 b{
    font: 20 13vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #8cff44, 0 0 0.5em #abff44, 0 0 0.1em #5dff44, 0 10px 3px #000;
  }
.logo{
    position: relative;
    top: 50px;
    left: 13px;
    
}
.container-fluid i{
    position: relative;
    left: 75px;
}
.box{
    color: white !important;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.cart-count{
    position: absolute;
    top: 4px;
    left: 55px;
}
.cartmv{
    position: fixed;
    top:55px;
    right: -100%;
    width: 300px;
    height: 100vh;
    z-index: 9;
    overflow-y: scroll;
    
}
.cartmv-active{
    right:0;
    transition: 0.5s;
}
.cancel i{
    color: rgb(181, 6, 6) !important;
    position:absolute;
    top: 4%;
   right: 10%;
   font-size: 30px;
   cursor: pointer;
}